<div class="animal-edit-form">
    <h1>Введите новые данные</h1>
        <form action="admin/animal/{{animal._id}}" method='post'>
        <label for="animal-name">Название животного</label>
        <input type="text" name="animal[name]" id="animal-name" value="{{animal.name}}">
        <label for="desc">Описание животного</label>
        <input type="text" name="animal[desc]" id="desc" value="animal.desc">
        <label for="photo">Фотография животного</label>
        <input type="file" name='photo' id="photo">
        <button type='submit'>Сохранить</button>
        </form>
</div>