<div class="animal-edit-form">
    <h1>Введите новые данные</h1>
        <form action="/admin/animal/new" method='post'>
        <label for="animal-name">Название животного</label>
        <input type="text" name="animalName" id="animal-name">
        <label for="desc">Описание животного</label>
        <input type="text" name="desc" id="desc">
        <label for="photo">Фотография животного</label>
        <input type="file" name='photo' id="photo">
        <button type='submit'>Сохранить</button>
        </form>
</div>