<div class="admin-wrapper">
    <h1>Введите новые данные</h1>
        <form class="creating-form" action="{{animal._id}}" method='post'>
        <label for="animal-name">Название животного</label>
        <input type="text" name="animalName" id="animal-name" value="{{animal.name}}">
        <label for="desc">Описание животного</label>
        <input type="text" name="desc" id="desc" value="{{animal.desc}}">
        <label for="photo">Фотография животного</label>
        <input type="file" name='photo' id="photo">
        <button type='submit'>Сохранить</button>
        </form>
</div>