<div class="tariff-edit-form">
   <h1>Введите новые данные</h1>
<form action="/admin/tariff/new" method='post'>
        <label for="tariff-name">Название тарифа</label>
        <input type="text" name="tariffName" id="tariff-name">
        <label for="price">Цена</label>
        <input type="number" name="price" id="price">
        <button type='submit'>Сохранить</button>
        </form>
</div>