<nav>
    <ul class="navList">
        <li class="navList_item"><a href="" class="navList_link">главная страница</a></li>
        <li class="navList_item"><a href="" class="navList_link">животные</a></li>
        <li class="navList_item"><a href="" class="navList_link">контакты</a></li>
        <li class="navList_item"><a href="" class="navList_link">тарифы</a></li>
        <li class="navList_item"><a href="" class="navList_link">вход</a></li>
        <li class="navList_item"><a href="" class="navList_link">зарегистрироваться</a></li>

        {{#if login}}
        <li class="navList_item"><a href="" class="navList_link">выход</a></li>
        {{/if}}
    </ul>

</nav>