{{!-- <div class="account-wrapper">
    <h1>Здравствуйте, {{name}}!</h1>
    <form action="">
        <input type="text" placeholder="Введите сумму пожертвования">
        <button type="submit">Отправить</button>
        </form>
</div> --}}