        <li class="navList_item"><a id="logout" href="/logout" class="navList_link">выход</a></li>

        <form action="/admin/animal" method='post'>
        <input type="text" name="animalName" placeholder="Название животного">
        <input type="text" name="desc" placeholder="Описание животного">
        <input type="file">
        <button type='submit'>Сохранить</button>
        </form>

        <form action="/admin/tariff" method='post'>
        <input type="text" name="tariffName" placeholder="Название тарифа">
        <select name="tariffName" id="">
            {{#each tariffs}}
            <option value="">{{name}}</option>
            {{/each}}
        </select>
        <input type="number" name="price" placeholder="Цена">
        <button type='submit'>Сохранить</button>
        </form>
