<form id="register" method="POST" action="/auth">
    <input name="name" placeholder="имя" required>
    <input type="email" name="email" placeholder="email" required>
     <input name="secretKey" placeholder="секретный код">
    <input type="password" name="password" placeholder="пароль" required>
    <button>зарегистрироваться</button>
</form>