<form id="register" method="POST" action="/auth">
    <input name="name" placeholder="имя">
    <input name="email" placeholder="email">
     <input name="secretKey" placeholder="секретный код">
    <input name="password" placeholder="пароль">
    <button>зарегистрироваться</button>
</form>