<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <script defer src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script defer src="/js/application.js"></script>
    <script defer src="https://api-maps.yandex.ru/2.1/?apikey=1c62ca23-3e5b-442c-85e2-2f7327a462da&lang=ru_RU"
        type="text/javascript">
        </script>
</head>

<body>
    <header>
        {{>nav}}
    </header>
    <div class="container">
    {{{body}}}
    </div>
    <script type="text/javascript">
        function init() {
            // Создание карты.
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });
        }
    </script>

</body>

</html>