<form id="login" method="POST" action="/login">
    <input name="name" placeholder="Имя или Еmail" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button>Войти</button>
</form>