<div class="maincontainer">
  <div class="description">
  <h1>Животные со всего мира</h1>

  <p>Приглашаем вас посетить единственный зоопарк в Карелии, где можно познакомиться с огромным разнообразием фауны
    России и других стран. Наши звери и птицы живут в живописном месте. Зоопарк окружен карельским лесом и расположен на
    сохраненном природном ландшафте. Естественный рельеф земли, нетронутые деревья и искусственные водоемы – дом
    большого количества копытных, хищных и птиц, занесенных в Красную книгу.

    Прикоснитесь к редким видам животных, погладьте ласковых пони и покормите оленей. Да, за небольшим исключением,
    наших животных можно гладить и кормить специальным угощением, которое сможете приобрести на входе — такому вниманию
    они будут очень рады.</p>

  <div class="infoTable">
    <div class="infoTable__item">
      <h2 class="numb">500</h2>
      <p>животных</p>
    </div>
    <div class="infoTable__item">
      <h2 class="numb">150</h2>
      <p>Птиц</p>
    </div>
    <div class="infoTable__item">
      <h2 class="numb">30</h2>
      <p>Гектаров</p>
    </div>
  </div>
  </div>



  <div class="mainPhoto">
    {{!-- <img src="../uploads/mainPhoto.png" alt=""> --}}
  </div>

</div>
