
    <h1>Животные</h1>

<div class="cardAnimal"></div>
<div class="animalShow">
      <img class="animalFile">{{file}}</img>
    <h2 class="animalName">{{name}}</h2>
    <p class="animalDesc">{{desc}}</p>
</div>
