<div class="animal-wrapper">

    <h1>Наши питомцы</h1>

<div class="cardAnimal"></div>
<div class="animalShow">
    <h2 class="animalName">{{name}}</h2>
    <p class="animalDesc">{{desc}}</p>
    <img class="animalFile" alt="{{name}}">{{file}}</img>
</div>
</div>
