<div class="form-wrapper">

<form id="register" method="POST" action="/auth">
    <input name="name" placeholder="Имя" required>
    <input type="email" name="email" placeholder="Еmail" required>
     <input name="secretKey" placeholder="Секретный код">
    <input type="password" name="password" placeholder="Пароль" required>
    <button>зарегистрироваться</button>
</form>
</div>
