<div class="contactContainer">
    <ul>
<li class="contactItem"><strong>Адрес: </strong>г.Геленджик, ул. Кирочная д.19</li>
<li class="contactItem"><strong>Телефон: </strong>8 800 100 88 41</li>
<li class="contactItem"><strong>Email: </strong> megaZoo@coolZoo.ru</li>

    </ul>
    <div id="map" style="width: 600px; height: 400px"></div>
</div>
    

  


