<form id="login" method="POST" action="/login">
    <input name="name" placeholder="имя или email" required>
    <input type="password" name="password" placeholder="пароль" required>
    <button>Войти</button>
</form>
