@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

button {
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #f06b0c;
  padding: 6px 10px;
  color: white;
}

input {
  outline: none;
  border: 1px solid lightgray;
  padding: 5px 10px;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  background: url("/img/jumbotron.jpg") 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  width: inherit;
}

header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid lightgray;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  display: block;
  color: black;
  font-weight: bold;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

header nav a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: inherit;
}

.container .exit {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  list-style: none;
  text-decoration: none;
  width: 70px;
  height: 25px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

.form-wrapper {
  margin-top: 30px;
}

.cardAnimal, .tariffCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 800px;
  margin-top: 20px;
}

.cardAnimal .cardButton, .cardAnimal .tariffPreview, .tariffCard .cardButton, .tariffCard .tariffPreview {
  background-color: black;
  width: 200px;
  height: 110px;
  margin: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 0.9rem;
}

.cardAnimal .cardButton:hover, .cardAnimal .tariffPreview:hover, .tariffCard .cardButton:hover, .tariffCard .tariffPreview:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.tariffPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
}

.tariffPreview h2 {
  font-size: 0.9rem;
}

.animal-wrapper, .tariff-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animal-wrapper .animalFile, .tariff-wrapper .animalFile {
  width: 400px;
  height: 300px;
  background-size: contain;
}

.admin-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0d0c12;
  color: #39354f;
  padding: 20px;
}

.admin-wrapper .creating-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 640px;
  border: 1px solid #655e8c;
  padding: 20px;
}

.admin-wrapper a, .admin-wrapper button {
  text-decoration: none;
  background-color: transparent;
  color: #8078a5;
  font-size: 0.9rem;
  font-weight: normal;
}

.admin-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  color: white;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.admin-wrapper form input {
  margin-bottom: 8px;
  margin-top: 5px;
}

.admin-wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  border-bottom: lightgray;
}

.maincontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.maincontainer .description {
  max-width: 800px;
}

.maincontainer .mainPhoto {
  background-image: url("../uploads/mainPhoto.png");
  background-size: contain;
  width: 450px;
  height: 600px;
}

.maincontainer .infoTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maincontainer .infoTable .infoTable__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 60px 0 0;
  text-transform: uppercase;
}

.maincontainer .infoTable .numb {
  font-size: 2rem;
  color: #f06b0c;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.contactContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */